@import url("background.css");

body {
    background-color: #0E0E0E;
    color: #f0f0f0;
    font-family: 'Righteous', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex; 
    justify-content: center;
    z-index: 1;
    font-size: 46px;
}

p {
    font-size: 20px;
}

a:visited {
    color: #f0f0f0;
}

a:active {
    color: #f0f0f0;
}

.footer {
    color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 200px;
    height: 65px;
    margin-top: 150px;
    text-align: center;
    background-color: #0e0e0e;
}

.explanation {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    min-width: 250px;
    max-width: 45vw;
}

@media only screen and (max-width: 812px){
    .explanation img {
        transform: scale(.6);
        margin-left: -75px !important;
        
    }
    .footer {
        color: #f0f0f0;
        display: grid;
        grid-template-columns: 200px;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-width: 200px;
        height: auto;
        margin-top: auto;
        text-align: center;
        background-color: #0e0e0e;
    }
    .gameDoc img {
        margin-left: -9px;
    }
    .footer a {
        margin-left: -16px;
    }


}