@import url("background.css");

body {
    background-color: #0E0E0E;
    color: #f0f0f0;
    font-family: 'Righteous', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex; 
    justify-content: center;
    font-size: 46px;
    text-align: center;
}

a:visited {
    color: #f0f0f0;
}

a:active {
    color: #f0f0f0;
}

.footer {
    color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 200px;
    height: 65px;
    margin-top: auto;
    text-align: center;
    background-color: #0e0e0e;
}

.gameButton {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(202, 29, 29);
    width: 15vw;
    height: 7.5vh;
    font-size: 33px;
    max-width: 288px;
    max-height: 71px;
    min-height: 75px;
    min-width: 175px;
    align-items: center;
}

.submission {
    display: flex;
    justify-content: center;
    z-index: 1;
}
.games {
    display: flex;
    text-align: center;
    height: auto;
    z-index: 0;
    max-width:15vw;
    min-width: 225px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.games img {
    height: 95px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid #f0f0f0
}

.games img:hover {
    transform: scale(1.1)
}

.gameButton:hover{
    background-color: rgb(255, 35, 35);
}
.gameButton:active {
    transform: scale(.95);
}

@media only screen and (max-width: 812px){
    .footer {
            color: #f0f0f0;
            display: grid;
            grid-template-columns: 200px;
            justify-content: center;
            align-items: center;
            width: 100vw;
            min-width: 200px;
            height: auto;
            margin-top: auto;
            text-align: center;
            background-color: #0e0e0e;
    }
    .gameDoc img {
        margin-left: -9px;
    }
    .footer a {
        margin-left: -16px;
    }

}