body {
    margin-top: 250px;
    background-color: #27272b;
    align-items: center;
    color: white;
    font-family: Arial;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.mainHeader {
    display: flex;
    justify-content: center;
}

.submission {
    display: grid;
    justify-content: center;
    margin: 15px;
}

#hicontainer, #medcontainer, #lowcontainer {
    display: grid;
    width: 33vw;
    height: fit-content;
    font-size: 25px;
    font-weight: bold;
}

.list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#highPriority, #medPriority, #lowPriority {
    width: 33vw;
}

.buttonplacement{
    display: flex;
    justify-content: center;
}

.input{
    text-align: center;
}

button {
    margin: 6px;
}